body, html {
    margin: 0;
    padding: 0;
    background-color:#0d0c0c;
    font-family: 'Poppins', sans-serif;
}

div, p, h1, h2, h3, h4, h5, h6, a {
    color: white;
}

.button {
    background-color: black;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 3px;
    &:hover {
        background: linear-gradient(309deg, rgba(38,143,255,1) 0%, rgba(245,0,0,1) 100%);
    }
}

.menu-holder {
    box-sizing: border-box;
    background-color: black;
    position: sticky;
    z-index: 9;
    top: 0;
    height: 80px;
    padding: 10px 30px;
    display: grid;
    grid-template-columns: 170px auto;
    align-items: center;
    .item1 {
        img {
            width: 170px;
            height: auto;
            object-fit: contain;
        }
    }
    .item2 {
        text-align: right;
    }
}

.menu{
    ul#menulist {position: relative;}
    li {
        display: inline-block;
        position: relative;
        z-index: 1;
        margin-left: 1px;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 2s ease-out, max-width 2s ease-out, margin-left 2s ease-out;
        max-width: 2px;
        overflow: hidden;
    }
    li:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: white;
    }
    ul#menulist.open {
        li {
            max-width: 200px;
            margin-left: 15px;
            opacity: 1;
        }
    }
    a {
        text-decoration: none;
        line-height: 1.7;
    }
    #sandwich {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 35px;
        height: 30px;
        cursor: pointer;
        span {
            display: block;
            width: 35px;
            height: 4px;
            left: 0;
            border-bottom: 2px solid white;
            position: absolute;
            opacity: 1;
            transition: bottom 0.5s ease-out, opacity 0.5s ease-out;
        }
        @for $i from 1 through 5 {
            span:nth-of-type(#{$i}) {
              bottom: (($i)-1)*6px;
            }
          }


    }
    #sandwich.open {
        pointer-events: none;
        span {
            bottom: 2px;
            opacity: 0;
        }
    }
}

.menu-m{
    ul#menulist-m {
        position: absolute;
        max-height: 0px;
        transition: max-height 1s ease-out;
        overflow: hidden;
        left: 0;
        top: 80px;
        z-index: 1;
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        padding: 0;
        margin: 0;
        &.open {
            max-height: 500px;
        }
    }
    li {
        display: table;
        margin: 20px auto;
        position: relative;
        white-space: nowrap;
        transition: opacity 2s ease-out, max-width 2s ease-out, margin-left 2s ease-out;
        overflow: hidden;
    }
    li:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: white;
    }
    li:first-of-type {
        margin-top: 40px;
    }
    li:last-of-type {
        margin-bottom: 60px;
    }
    li:first-of-type > img {
        margin-bottom: 10px;
    }
    li:first-of-type:after {
        height: 2px;
    }
    a {
        text-decoration: none;
        line-height: 1.7;
    }
    #sandwich-m {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 35px;
        height: 30px;
        cursor: pointer;
        span {
            display: block;
            width: 35px;
            height: 4px;
            left: 0;
            border-bottom: 2px solid white;
            position: absolute;
            opacity: 1;
            transition: bottom 0.5s ease-out, opacity 0.5s ease-out;
        }
        @for $i from 1 through 5 {
            span:nth-of-type(#{$i}) {
              bottom: (($i)-1)*6px;
            }
          }


    }
}


@media (max-width: 700px) {
  .desktop {
      display: none;
  }   
}
@media (min-width: 701px) {
    .mobile {
        display: none;
    }   
  }
  


.hero.desktop {
    margin-top: 70px;
    position: relative;
    height: 90vh;
    max-height: 700px;
    .insert-left {
        background-image: url("/images/hero-bg.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 80%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
    }
    .insert-right {
        background-image: url("/images/hero-bg-2-a.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 80%;
        height: 100%;
        right: 0;
        bottom: 0;
        z-index: 2;
        clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .overlay1-shadow {
        display: block;
        width: 30%;
        height: 50%;
        z-index: 8;
        position: absolute;
        top: 0;
        left: 0;
        filter: drop-shadow(-1px 6px 6px rgba(0,0,0, 0.5));
        .overlay1 {
            width: 100%;
            height: 100%;
            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
                background-image: url("/images/hero-overlay-1-t.jpg");
                background-size: cover;
                background-position: center center;
            }
            a.button {
                position: absolute;
                top: 30%;
                left: 10%;
                z-index: 10;
            }
        }
    }
    .overlay2-shadow {
        filter: drop-shadow(-1px -3px 3px rgba(0,0,0, 0.5));
        width: 30%;
        height: 50%;
        z-index: 7;
        position: absolute;
        bottom: -1px;
        right: 0;
        display: block;
        .overlay2 {
            width: 100%;
            height: 100%;
            &:after {
                content: "";
                display: block;
                clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
                background-image: url("/images/hero-overlay-1-t.jpg");
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 100%;
                z-index: 8;
            }
            a.button {
                position: absolute;
                bottom: 30%;
                right: 15%;
                z-index: 10;
            }
        }
    }
}

.hero.mobile {
    .cover1 {
        background-image: url("/images/hero-bg.jpg");
        background-size: cover;
        background-position: center center;
        height: 700px;
        position: relative;
        margin-bottom: 100px;
        .overlay1 {
            background-color: #0d0c0c;
            height: 250px;
            text-align: center;
            position: absolute;
            bottom: -1px;
            width: 100%;
            clip-path: polygon(0% 100px, 100% 0%, 100% 100%, 0 100%);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .cover2 {
        background-image: url("/images/hero-bg-2-a.jpg");
        background-size: cover;
        background-position: center center;
        height: 700px;
        position: relative;
        .overlay2 {
            background-color: #0d0c0c;
            height: 250px;
            text-align: center;
            position: absolute;
            bottom: -1px;
            width: 100%;
            clip-path: polygon(0% 100px, 100% 0%, 100% 100%, 0 100%);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


.aspect-insert {
    background-image: url("/images/aspect-insert-50.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50px;
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio {
    padding-top: 0; 
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
    img {
        max-width: 100%;
    }
    a {
        line-height: 0;
        display: inline-block;
        background-color: #2f2f2f;
        border: 1px solid #6E000A;
        border-radius: 80px;
        padding: 7px;
        transition: background 0.5s ease-out;
        &:hover {
            background-color: black;
        }
    }
}

.video {
    padding-top: 100px; 
    padding-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background: linear-gradient(180deg, #0c0d0d, #080808);
    .video-wrapper {
        position: relative;
        display: block;
        width: 100%;
        height: 315px;
        max-width: 560px;
        margin: 0 auto;
        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            /*background-image: url("/images/video-bg.jpg");
            background-size: 100% 100%;
            background-position: center center;*/
            background: rgb(38,143,255);
            background: -moz-linear-gradient(309deg, rgba(38,143,255,1) 0%, rgba(245,0,0,1) 100%);
            background: -webkit-linear-gradient(309deg, rgba(38,143,255,1) 0%, rgba(245,0,0,1) 100%);
            background: linear-gradient(309deg, rgba(38,143,255,1) 0%, rgba(245,0,0,1) 100%);
            filter: blur(30px);
        }
        .iframe-wrapper {
            position: absolute;
            z-index: 2;
            width: 100%;
            max-width: calc(100vw-30px);
            height:100%;
            left: 0;
            top: 0;
        }
    }
}


#mtrss-video-hero {
    .video-wrapper {
        width: 100%;
        h2 {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }
        .iframe-wrapper {
            width: 80%;
            padding-bottom: 45%;
            height: 0;
            margin: 100px auto;
            position: relative;
            border: 1px solid #222;
            z-index: 2;
            &:before {
                content: "";
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
                background: #268fff;
                background: linear-gradient(309deg, #268fff 0%, #f50000 100%);
                filter: blur(30px);
            }
            iframe {
                position: absolute;
                z-index: 3;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (max-width: 500px) {
    #mtrss-video-hero {
        .video-wrapper {
            .iframe-wrapper {
                margin: 0;
                width: 100%;
                min-height: 300px;
                border: 0;
            }  
        }
    }
}


.context {
    padding-top: 200px; 
    padding-bottom: 150px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url("/images/context-bg.png");
    background-size: cover;
    background-position: top right;
    text-align: center;
    padding-top: 150px !important;
    .content {
        border: 8px solid white;
        font-weight: 300;
        font-size: 14px;
        display: block;
        margin: 0 auto;
        max-width: 600px;
        background-image: url("/images/bio-bg.jpg");
        background-size: cover;
        padding: 100px;
        box-shadow: 5px 5px 15px rgba(0,0,0, 0.5);
        img {
            width: 100%;
            height: 115px;
            object-fit: contain;
            object-position: center center;
            background-color: black;
        }
    }
}

@media (max-width: 500px) {
    .context {
        .content {
            padding: 40px;
        }
    }
}

#spotify {
    background-color: black;
    padding: 50px 0;
    text-align: center;
}

.footer {
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
    background-color: black;
    .contact-icon {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: 5px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        &.facebook {
            background-image: url('/images/icon-facebook.png');
            &:hover {
                background-image: url('/images/icon-facebook-hover.png');
            }
        }
        &.instagram {
            background-image: url('/images/icon-instagram.png');
            &:hover {
                background-image: url('/images/icon-instagram-hover.png');
            }
        }
        &.spotify {
            background-image: url('/images/icon-spotify.png');
            &:hover {
                background-image: url('/images/icon-spotify-hover.png');
            }
        }
        &.bandcamp {
            background-image: url('/images/icon-bandcamp.png');
            &:hover {
                background-image: url('/images/icon-bandcamp-hover.png');
            }
        }
        &.email {
            background-image: url('/images/icon-email.png');
            &:hover {
                background-image: url('/images/icon-email-hover.png');
            }
        }
    }
}

@media (max-aspect-ratio: 4/3) {
    .hide-aspect {
        display: none !important;
    }
    /*
    .overlay2-shadow {
        height: 35% !important;
        top: 66% !important;
    }
    */
}
@media (min-aspect-ratio: 4/3) {
    .show-aspect {
        display: none !important;
    }
}

@media (max-width: 400px) {
    .button {background: linear-gradient(309deg, rgba(38,143,255,1) 0%, rgba(245,0,0,1) 100%);}
    .audio {padding-top: 50px; padding-bottom: 100px;}
    .context {padding-bottom: 150px;}
}

.collapse-css-transition {
    transition: height 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }



.carousel-container {
    margin-bottom: 50px;
    &:before {
        position: absolute;
        content: "";
        z-index: 1001;
        background-size: 100% 100%;
        left: 0;
        top: 0;
        width: 400px;
        height: 100%;
        background-image: url("/images/curtain01.png");
    }
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
    li {
        padding: 0px;
    }
    .react-multi-carousel-item {
        &>div {
            height: 300px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            &>div {
                width: 90% !important;
                height: 90% !important;
                
            }
        }
    }
    .react-multiple-carousel__arrow {
        bottom: 40px;
        width: 48px;
        height: 48px;
        background: linear-gradient(to top, red, purple, blue);
        &:hover {
            background: linear-gradient(to top, red, purple, blue);
        }
        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform:translate(-50%, -50%);
            background-color: black;
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            border-radius: 100px;
        }
        &.react-multiple-carousel__arrow--right {
            left: 51%;
            right: auto;
        }
        &.react-multiple-carousel__arrow--left {
            right: 51%;
            left: auto;
        }
    }
}

@media (min-width: 501px) and (max-width: 1024px) {
    .carousel-container {
        &:before {
            display: none;
        }
        .react-multi-carousel-item {
            &>div {
                height: 500px !important;
                &>div {
                    width: 80% !important;
                    height: 80% !important;
                    
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .carousel-container {
        &:before {
            display: none;
        }
        .react-multi-carousel-item {
            &>div {
                height: 500px !important;
                &>div {
                    width: 100% !important;
                }
            }
        }
    }
}


.react-3d-carousel {
    min-height: 600px;
    margin-top: 30px;
    .AlbumSlide {
        width: 100%;
        max-width: 550px;
        height: 550px;
        background-size: cover;
        background-position: center center;
        display: block;
        position: relative;
        //justify-content: center;
        //align-items: center;
        a {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            white-space: nowrap;
        }
        &.slide1 {
            background-image: url('/images/cover1.jpg');
        }
        &.slide2 {
            background-image: url('/images/cover2.jpg');
        }
        &.slide3 {
            background-image: url('/images/cover3.jpg');
        }
        &.slide4 {
            background-image: url('/images/cover4.jpg');
        }
        &.slide5 {
            background-image: url('/images/cover5-mobile.jpg');
        }
        &.slide6 {
            background-image: url('/images/cover6.jpg');
        }
        &.slide7 {
            background-image: url('/images/cover7.jpg');
        }
        &.slide8 {
            background-image: url('/images/cover8.jpg');
        }
        &.slide9 {
            background-image: url('/images/cover9.jpg');
        }
        .desc {
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -20px;
            font-size: 13px;
            color: white;
            background-color: black;
            background-size: cover;
            padding: 12px;
            border-radius: 4px;
            width: 70%;
            text-align: center;
        }
    }
    .slider-right, .slider-left {
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            margin-top: -34px;
            top: 50%;
            left: 0;
            background: linear-gradient(to top, red, purple, blue);
            border-radius: 50%;
            z-index: 999;
        }
        &>div {
            border-top: none !important;
            border-bottom: none !important;
            border-left: none !important;
            border-right: none !important;
            border: none !important;
            left: 2px !important;
            width: 36px;
            margin-top: -14px !important;
            padding: 0 !important;
            height: 36px;
            background-color: black;
            border-radius: 50%;
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-content: center;
        } 
    }
    .slider-right > div > i:before {
        content: "\E825" !important;
        font-family: 'revicons' !important;
    }
    .slider-left > div > i:before {
        content: "\E824" !important;
        font-family: 'revicons' !important;
    }
}

@media (max-width: 888px) and (min-width: 501px){
    .react-3d-carousel {
        min-height: 500px;
        .AlbumSlide {
            height: 450px;
            width: 450px;
        }
    }
}

@media (max-width: 500px) {
    .react-3d-carousel {
        min-height: 600px;
        .AlbumSlide {
            width: 100%;
            height: 500px;
            a {
                top: 50%;
                left: 50%;
                transform: translate(-50%,-20%);
            }
            .desc {
                display: block;
            }
            &.slide1 {
                background-image: url('/images/cover1-mobile.jpg');
            }
            &.slide2 {
                background-image: url('/images/cover2-mobile.jpg');
            }
            &.slide3 {
                background-image: url('/images/cover3-mobile.jpg');
            }
            &.slide4 {
                background-image: url('/images/cover4-mobile.jpg');
            }
            &.slide5 {
                background-image: url('/images/cover5-mobile.jpg');
            }
            &.slide6 {
                background-image: url('/images/cover6-mobile.jpg');
            }
            &.slide7 {
                background-image: url('/images/cover7-mobile.jpg');
            }
            &.slide8 {
                background-image: url('/images/cover8-mobile.jpg');
            }
            &.slide9 {
                background-image: url('/images/cover9-mobile.jpg');
            }
        }
    }
 }

.press {
    padding: 30px;
    h2 {
        text-align: center;
    }
    .row {
        text-align:center;
        padding: 30px;
        &>div {
            display: inline-block;
            width: 30%;
            text-align: center;
            height: 100%;
            vertical-align: middle;
            img {
                max-width: 80%;
            }
        }
    }
}

@media (max-width: 500px) {
    .press {
        padding: 0;
        .row {
            padding: 0;
            &>div {
                display: block;
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                img {
                    max-width: 50%;
                }
            }
        }
    }
}